
* {
    box-sizing: border-box;
  }

body {
    display: flex; 
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    margin: 0;
    color: white;
    
}
#map {
    height: 100vh; 
    width: 70%; 
}
#controls {
    padding: 10px;
    width: 25%; 
    background: #121212;
    border-left: 1px solid #ddd; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
select, button, input, textarea {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    background-color: #F5ECD5; 
    cursor: pointer; 
    width: 100%;      
    transition: transform 0.2s ease;
}
button:hover {
    background-color: #d1e8ff; 
    transform: scale(1.03);   
}
#place-info {
    margin-top: 10px;
    width: 100%;
    text-align: left; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 10px; 
    background-color: #3D3D3D;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
#place-image {
    width: 100%; 
    border-radius: 5px; 
    height: auto; 
}
h3 {
    color: #FFB22C; 
    margin: 5px 0; 
}
p {
    margin: 5px 0; 
}
.highlight {
    padding: 10px;
    border-left: 4px solid #FFB22C;
    border-bottom:4px solid #FFB22C; 
    opacity:0.7;
    margin-bottom: 10px; 
}

.highlight:hover {
    opacity: 1;
}
.rating {
    margin: 10px 0;
    position: relative;
}
.star {
    font-size: 20px;
    cursor: pointer;
    color: gray; 
}
.star.selected {
    color: gold;
}

.star:hover {
    color: #f0f8ff;
}
.review-input {
    margin-top: 10px;
}

#review {
    color: #F7F7F7;
}

td {
    color: #121212;
}
